[ColorEffects:Disabled]
Color=#383838
ColorAmount=0
ColorEffect=0
ContrastAmount=0.65
ContrastEffect=1
IntensityAmount=0.1
IntensityEffect=2

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color=#706F6E
ColorAmount=0.025
ColorEffect=2
ContrastAmount=0.1
ContrastEffect=2
Enable=false
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate=#4D4D4D
BackgroundNormal=#31363B
DecorationFocus=#3DAEE9
DecorationHover=#3DAEE9
ForegroundActive=#3DAEE9
ForegroundInactive=#BDC3C7
ForegroundLink=#2980B9
ForegroundNegative=#DA4453
ForegroundNeutral=#F67400
ForegroundNormal=#EFEFEF
ForegroundPositive=#27AE60
ForegroundVisited=#7F8C8D

[Colors:Selection]
BackgroundAlternate=#1D99F3
BackgroundNormal=#3DAEE9
DecorationFocus=#3DAEE9
DecorationHover=#3DAEE9
ForegroundActive=#FCFCFC
ForegroundInactive=#EFEFEF
ForegroundLink=#FDB24A
ForegroundNegative=#DA4453
ForegroundNeutral=#F67400
ForegroundNormal=#EFEFEF
ForegroundPositive=#27AE60
ForegroundVisited=#BDC3C7

[Colors:Tooltip]
BackgroundAlternate=#4D4D4D
BackgroundNormal=#31363B
DecorationFocus=#3DAEE9
DecorationHover=#3DAEE9
ForegroundActive=#3DAEE9
ForegroundInactive=#BDC3C7
ForegroundLink=#2980B9
ForegroundNegative=#DA4453
ForegroundNeutral=#F67400
ForegroundNormal=#EFEFEF
ForegroundPositive=#27AE60
ForegroundVisited=#7F8C8D

[Colors:View]
BackgroundAlternate=#31363B
BackgroundNormal=#232629
DecorationFocus=#3DAEE9
DecorationHover=#3DAEE9
ForegroundActive=#3DAEE9
ForegroundInactive=#BDC3C7
ForegroundLink=#2980B9
ForegroundNegative=#DA4453
ForegroundNeutral=#F67400
ForegroundNormal=#EFEFEF
ForegroundPositive=#27AE60
ForegroundVisited=#7F8C8D

[Colors:Window]
BackgroundAlternate=#4D4D4D
BackgroundNormal=#31363B
DecorationFocus=#3DAEE9
DecorationHover=#3DAEE9
ForegroundActive=#3DAEE9
ForegroundInactive=#BDC3C7
ForegroundLink=#2980B9
ForegroundNegative=#DA4453
ForegroundNeutral=#F67400
ForegroundNormal=#EFEFEF
ForegroundPositive=#27AE60
ForegroundVisited=#7F8C8D

[Colors:Complementary]
BackgroundAlternate=#3B4045
BackgroundNormal=#31363B
DecorationFocus=#1E92FF
DecorationHover=#3DAEE6
ForegroundActive=#F67400
ForegroundInactive=#AFB0B3
ForegroundLink=#3DAEE6
ForegroundNegative=#ED1515
ForegroundNeutral=#C9CE3B
ForegroundNormal=#EFEFEF
ForegroundPositive=#11D116
ForegroundVisited=#3DAEE6

[General]
ColorScheme=Breeze Dark
Name=Breeze Dark
shadeSortColumn=true

[KDE]
contrast=4

[WM]
activeBackground=#31363B
activeBlend=#FFFFFF
activeForeground=#EFEFEF
inactiveBackground=#31363B
inactiveBlend=#4B4743
inactiveForeground=#7F8C8D
